<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>행정복지센터 등록/수정 - 고향사랑e음 (admin service)</title>
    <link rel="stylesheet" type="text/css" th:href="@{/content/opmanager/css/ui-lightness/jquery-ui-1.10.3.custom.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/content/opmanager/css/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/content/opmanager/css/opmanager.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/content/opmanager/css/opmanager_print.css}" media="print">
</head>
<body>
<div th:replace="~{fragments/admin-nav :: admin-nav()}"></div>

<div class="contents contents_inner">
    <div class="location"><a th:href="@{/admin/welfare-centers}">행정복지센터 관리</a></div>
    <h3><span th:text="${center} != null ? '센터 수정' : '센터 등록'"></span></h3>

    <div class="board_write">
        <table class="board_write_table" summary="센터 등록/수정">
            <colgroup><col style="width:220px;"><col></colgroup>
            <tbody>
            <tr>
                <td class="label">지자체코드</td>
                <td>
                    <input type="text" name="lclgvCd" th:if="${fixedLclgvCd} == null"
                           th:value="${center} != null ? ${center.lclgvCd} : ''" form="centerForm">
                    <span th:if="${fixedLclgvCd} != null" th:text="${fixedLclgvCd}"></span>
                    <input type="hidden" name="lclgvCd" th:if="${fixedLclgvCd} != null" th:value="${fixedLclgvCd}" form="centerForm">
                </td>
            </tr>
            <tr>
                <td class="label"><span class="required_mark">*</span>센터명</td>
                <td><input type="text" name="name" th:value="${center} != null ? ${center.name} : ''" required form="centerForm"></td>
            </tr>
            <tr>
                <td class="label">센터코드</td>
                <td><input type="text" name="code" th:value="${center} != null ? ${center.code} : ''" form="centerForm"></td>
            </tr>
            <tr th:if="${center} != null">
                <td class="label">사용여부</td>
                <td>
                    <select name="useYn" form="centerForm">
                        <option value="Y" th:selected="${center.useYn} == 'Y'">사용</option>
                        <option value="N" th:selected="${center.useYn} == 'N'">중지</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <form id="centerForm" th:action="${center} != null ? @{'/admin/welfare-centers/' + ${center.id}} : @{/admin/welfare-centers}" method="post"></form>
    <div class="btn_all btn_center">
        <button type="submit" form="centerForm" class="btn btn-dark-gray btn-small">저장</button>
    </div>
</div>
<div th:replace="~{fragments/footer :: admin-footer}"></div>
</body>
</html>
