<!DOCTYPE html>
<html lang="ko" class="opmanager" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>이미지등록</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" th:href="@{/content/opmanager/css/ui-lightness/jquery-ui-1.10.3.custom.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/content/opmanager/css/bootstrap/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/content/opmanager/css/opmanager.css}">
<link rel="stylesheet" type="text/css" th:href="@{/content/opmanager/css/opmanager_print.css}" media="print" />

<script type="text/javascript" th:src="@{/content/modules/jquery/jquery-1.11.0.min.js}"></script>
<script type="text/javascript" th:src="@{/content/modules/spin.min.js}"></script>
<script type="text/javascript" th:src="@{/content/modules/op.common.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/content/modules/op.file.js}" charset="utf-8"></script>

<!-- admin은 Spring Security/CSRF가 없지만 op.common.js 전역 ajax가 이 meta를 읽으므로
     헤더명만 유효하게 두고 토큰은 비운다([[admin-opmanager-ajax-needs-csrf-meta]]). -->
<meta name="_csrf" content="" />
<meta name="_csrf_header" content="X-CSRF-TOKEN" />
</head>
<body>
<!-- AS-IS front/i18n/smarteditor/upload-image.jsp 이식 - 스마트에디터 "사진" 버튼 팝업.
     스킨의 hp_SE2M_AttachQuickPhoto.js가 /smarteditor/upload-image를 window.open한다.
     업로드는 photo_uploader/popup/attach_photo.js(jindo fileuploader)가 처리하고, 응답 HTML이
     parent.pasteHtmlToEditor()로 부모 팝업에 넘겨 에디터 본문에 끼워 넣는다. -->
<div class="popup_wrap">
	<h1 class="popup_title" th:text="${msg.get('M00738')}">이미지등록</h1> <!-- 이미지등록 -->

	<div class="popup_contents">
		<div id="pop_container2" class="pop_container2">
			<form id="editor_upimage" name="editor_upimage" th:action="@{/smarteditor/upload-image}" method="post" target="frame_action" enctype="multipart/form-data" onsubmit="javascript:if(inputFilesLength == 0) {event.preventDefault();event.stopPropagation();alert('파일을 선택해주세요.');} else {loadingShow();return false;}">
	        <input type="hidden" name="token" id="token" th:value="${token}"/>

                <p class="text-info text-sm">
                    * 여러 개의 이미지 파일을 드래그하거나 선택한 후 한 번에 등록할 수 있습니다.<br>
		      		* 이미지 파일(jpg, jpeg, gif, png)만 등록할 수 있습니다. <!-- 이하의 이미지 파일(jpg, jpeg, gif, png)만 등록할 수 있습니다. --><br>
		      		* 총 5MB까지 업로드 가능합니다.
		      	</p>

				<table class="board_write_table" summary="이미지등록">
					<caption>이미지등록 </caption>
					<colgroup>
						<col style="width: 80px" />
						<col style="" />
					</colgroup>
					<tbody>
						<tr>
							<td class="label" th:text="${msg.get('M01070')}">파일</td> <!-- 파일 -->
							<td>
								<div>
									<input type="file" class="upload" id="uploadInputBox" name="file[]" multiple="multiple" accept=".gif, .png, .jpg, .jpeg" onchange="changeFile(this)"/>

								</div>
							</td>
						</tr>
					</tbody>
				</table>

				<p class="popup_btns">
					<button type="submit" id="btn_confirm" class="btn btn-active" th:text="${msg.get('M00088')}">등록</button> <!-- 등록 -->
					<!--/* AS-IS도 주석 처리됨: <a href="javascript:self.close();">취소</a> */-->
					<button type="button" id="btn_cancel" class="btn btn-cancel" th:text="${msg.get('M00037')}">취소</button> <!-- 취소 -->
				</p>
			</form>
		</div>
	</div>
    <iframe id="frame_action" name="frame_action" style="display:none;width: 1000px;height: 800px; border:1px solid red"></iframe>
</div>

<script type="text/javascript" th:src="@{/content/modules/smarteditor2_3_10/photo_uploader/popup/jindo.min.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/content/modules/smarteditor2_3_10/photo_uploader/popup/jindo.fileuploader.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/content/modules/smarteditor2_3_10/photo_uploader/popup/attach_photo.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/content/modules/op.common.js}" charset="utf-8"></script>
<script type="text/javascript">
$(function(){
	/* var token = opener.parent.document.getElementById("token").value;
	$('#token').val(token); */
});

let inputFilesLength = 0;
let limitSize = 20 * 1024 * 1024;

function pasteHtmlToEditor(oFileInfo){
    if (!!opener && !!opener.nhn && !!opener.nhn.husky && !!opener.nhn.husky.PopUpManager) {
        //스마트 에디터 플러그인을 통해서 넣는 방법 (oFileInfo는 Array)
        //opener.nhn.husky.PopUpManager.setCallback(window, 'SET_CTP', [oFileInfo]);
        //본문에 바로 tag를 넣는 방법 (oFileInfo는 String으로 <img src=....> )
        //opener.nhn.husky.PopUpManager.setCallback(window, 'SET_CONTENTS', [""]);
        let parser = new DOMParser;
		let dom = parser.parseFromString('<!doctype html><body>' + oFileInfo, 'text/html');
		oFileInfo = dom.body.textContent;
        opener.nhn.husky.PopUpManager.setCallback(window, 'PASTE_HTML', [oFileInfo]);
        //opener.nhn.husky.PopUpManager.setCallback(window, 'PASTE_HTML', "텍스트");
        self.close();
    }
}

function loadingShow() {
	let dimmed = document.getElementById('loading-dimmed');
	let loading = document.getElementById('loading');

    if (!dimmed) {
        dimmed = document.createElement("div");
        dimmed.setAttribute('id', 'loading-dimmed');
        dimmed.setAttribute('style', 'display: none;');
        document.body.appendChild(dimmed);
    }

    if (!loading) {
        loading = document.createElement("div");
        loading.setAttribute('id', 'loading');
        loading.setAttribute('style', 'display: none;');
        document.body.appendChild(loading);
    }

    dimmed.setAttribute('style', 'display: block;');

    if (spinner == null) {
        loading.setAttribute('style', 'display: block;');
        spinner = new Spinner(Common.loading.options).spin(loading);
    }
};

function loadingHide() {
    if (spinner != null) {
        spinner.stop();
    }

    try {
    	document.getElementById('loading-dimmed').setAttribute('style', 'display: none;');;
    	document.getElementById('loading').setAttribute('style', 'display: none;');;
    } catch (e) {
    	console.log(e);
    }

    spinner = null;
};


function changeFile(inputFile) {
	let files = inputFile.files;
	inputFilesLength = files.length;
	let inputFilesSize = 0;
	for (let i = 0 ; i < inputFilesLength ; i++) {
		inputFilesSize += files[i].size;
	}

	if (inputFilesSize > limitSize) {
		inputFile.value = '';
		inputFilesLength = 0;
		alert('총 20MB까지 업로드 가능합니다.');
	}
}


</script>
</body>
</html>
