<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리 그룹 등록/수정 - 고향사랑e음 (admin service)</title>
    <link rel="stylesheet" type="text/css" th:href="@{/content/opmanager/css/ui-lightness/jquery-ui-1.10.3.custom.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/content/opmanager/css/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/content/opmanager/css/opmanager.css}">
</head>
<body>
<div th:replace="~{fragments/admin-nav :: admin-nav()}"></div>

<div class="contents contents_inner">
    <div class="location"><a th:href="@{/admin/category-teams}">카테고리 팀/그룹 관리</a></div>
    <h3><span th:text="${group.id()} != null ? '그룹 수정' : '그룹 등록'"></span></h3>
    <p style="color:#c00;" th:if="${errorMessage}" th:text="${errorMessage}"></p>

    <div class="board_write">
        <table class="board_write_table" summary="카테고리 그룹 등록/수정">
            <colgroup><col style="width:220px;"><col></colgroup>
            <tbody>
            <tr>
                <td class="label">소속 팀ID</td>
                <td><input type="text" th:value="${group.categoryTeamId()}" readonly>
                    <input type="hidden" name="categoryTeamId" th:value="${group.categoryTeamId()}" form="groupForm"></td>
            </tr>
            <tr>
                <td class="label"><span class="required_mark">*</span>그룹명</td>
                <td><input type="text" name="name" th:value="${group.name()}" required form="groupForm"></td>
            </tr>
            <tr>
                <td class="label">코드</td>
                <td><input type="text" name="code" th:value="${group.code()}" form="groupForm"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <form id="groupForm"
          th:action="${group.id()} != null ? @{/admin/category-teams/groups/{id}(id=${group.id()})} : @{/admin/category-teams/groups}"
          method="post"></form>
    <div class="btn_all btn_center">
        <button type="submit" form="groupForm" class="btn btn-dark-gray btn-small">저장</button>
    </div>
</div>
<div th:replace="~{fragments/footer :: admin-footer}"></div>
</body>
</html>
