<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${event.title} + ' - 지역 이벤트 - 고향사랑e음 (admin service)'">지역 이벤트 상세</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/new.css}">
    <link rel="stylesheet" th:href="@{/css/default_ali.css}">
    <link rel="stylesheet" th:href="@{/css/event.css}">
    <link rel="stylesheet" th:href="@{/css/evt_detail.css}">
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <link rel="icon" th:href="@{/favicon.ico}">
</head>
<body>
<div th:replace="~{fragments/header :: site-header}"></div>

<!-- AS-IS featured/eventDetail.html 재현. 답례품 연관 그리드(itemListMap)는 이번
     라운드 스코프 밖이라 뺐고, 이벤트 본문/기간/담당부서/연락처/바로가기 링크만 다룬다. -->
<section class="center" id="contents">
    <div class="contents-wrap">
        <div class="list-page-area">
            <div class="list-page-body">
                <div class="page-title" th:text="${event.title}"></div>
                <div class="page-info">
                    <div class="page-info-list">
                        <div class="writer" th:text="${displayDate}"></div>
                        <div class="date-created" th:if="${event.hostName != null and event.hostName != ''}" th:text="${event.hostName}"></div>
                        <div class="views" th:if="${event.phone != null and event.phone != ''}" th:text="${event.phone}"></div>
                    </div>
                    <a th:if="${event.linkUrl != null and event.linkUrl != ''}" th:href="${event.linkUrl}" class="share-con pointblue moreView">
                        <img class="icon-img" th:src="@{/images/icon/cli-icon_share-con.png}" alt="링크이동">
                        <span th:text="${event.linkUrl}"></span>
                    </a>
                </div>
                <div class="page-contents">
                    <div class="top_banner" th:if="${event.listImage != null and event.listImage != ''}">
                        <img th:src="@{'/images/events/' + ${event.listImage}}" alt="">
                    </div>
                    <div class="result_con" th:utext="${event.content}"></div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <button type="button" class="blueBtn u-confirm last-btn" onclick="location.href=this.dataset.url" th:attr="data-url=@{/events}">
                목록<span><img th:src="@{/images/icon/cli-icon_btn-hover-arrow.png}" alt=""></span>
            </button>
        </div>
    </div>
</section>

<div th:replace="~{fragments/floating-buttons :: floating-buttons}"></div>
<div th:replace="~{fragments/footer :: site-footer}"></div>
</body>
</html>
