/* 자료실 보기 */
.s-contents.list-page-wrapper {
    margin-bottom: calc(var(--margin-padding-8)*5);
}

.list-page-body {
    margin: calc(var(--margin-padding-8)*4) 0;
    background-color: #fff;
}

.list-page-body .page-title {
    padding: calc(var(--margin-padding-8)*6) 40px;
    font-size: 22px;
    text-align: center;
    background-color: var(--gray5);
    border-top: solid var(--gray2);
    border-bottom: 1px solid var(--gray4);
    word-break: normal;
}

.list-page-body .page-info,
.list-page-body .page-file-list {
    padding: calc(var(--margin-padding-8)*2) calc(var(--margin-padding-8)*4);
    border-bottom: 1px solid var(--gray4);
    display: flex;
    justify-content: space-between;
    color: var(--gray3);
    font-size: 14px;
}

.list-page-body .page-info .page-info-list {
    display: flex;
}

.list-page-body .page-info .page-info-list div {
    padding: 0 calc(var(--margin-padding-8)*2);
    border-right: 1px solid var(--gray4);
}

.list-page-body .page-info .page-info-list div:first-child {
    padding-left: 0;
}

.list-page-body .page-info .page-info-list div:last-child {
    border-right: 0px solid var(--gray4);
}

.list-page-body .page-contents {
    padding: calc(var(--margin-padding-8)*5) calc(var(--margin-padding-8)*4);
    font-size: 14px;
    line-height: 24px;
    color: var(--gray3);
    border-bottom: 1px solid var(--gray4);
    word-break: normal;
}

.list-page-body .page-file-list {
    justify-content: flex-start;
    border-bottom: 1px solid var(--gray3);
}

.list-page-body.notice .page-contents {
    border-bottom: 1px solid var(--gray2);
}
.file-list-label img,
.list-page-body .page-info>.share-con img{
    margin-right: 4px;
}

/* .list-page-body .page-file-list div {
    padding-right: calc(var(--margin-padding-8)*4);
} */

.col-1.date-col,
.col-2.date-col,
.col-4.date-col,
.col-6.date-col,
.col-7.date-col,
.col-10.date-col {
    text-align: center !important;
}

.list-page-body li.list-items .notice-body {
    background-color: var(--gray5);
    padding-left: calc(var(--margin-padding-8)*4);
    display: none;
    line-height: 24px;
}

.list-page-body li.list-items .notice-body .notice-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.list-page-body li.list-items .notice-body .notice-arrow {
    /* width: 21px; */
    margin: 7px 16px;
}

/* FAQ Add */

.list-page-body li.list-items .faq-icon {
    margin-right: 12px;
}

.list-page-body li.list-items .notice-body .faq-icon {
    margin-right: 21px;

}

/* Q&A Add */
.list-page-body .page-file-list .file-list-title {
    white-space: nowrap;
}

.list-page-body .page-file-list .file-list-title li {
    margin-bottom: 4px;
    float: left;
}

.list-page-body .page-file-list p {
    clear: both;
}

.list-page-body .page-file-list span.fileDelete {
    display: inline-block;
    margin-left: 6px;
    transform: scale(0.6);
}

.prev-next-box {
    background-color: var(--gray5);
    border: 1px solid var(--gray4);
    padding: calc(var(--margin-padding-8)*5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(var(--margin-padding-8)*5);
}

.prev-next-box a {
    color: var(--sub-color1);
    font-size: 14px;

}

.prev-next-box span {
    display: inline-block;
}

.prev-next-box span.col-line {
    margin: 0 16px;
    width: 1px;
    height: 40px;
    border-right: 1px solid var(--gray4);
}

.prev-next-box a {
    width: 49%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

.prev-next-box a.next {
    justify-content: flex-end;
}

.prev-next-box a strong {
    margin: 0 2%;
}

.prev-next-box span.nab-label {
    display: block;
    width: 27%;
    white-space: nowrap;
}

.prev-next-box a.prev span.nab-label {
    padding-right: 24px;
}

.prev-next-box a.next span.nab-label {
    padding-left: 24px;
}

.prev-next-box span.target-title {
    color: var(--gray3);
    word-break: normal;
}

.prev-next-box a.next span {
    text-align: right;
}
.list-page-body .page-file-list{
    gap: 20px;
}
.file-list-label{
    flex-basis: 100px;
}
/* Q&A글쓰기 add */
.list-page-body.qna .page-title {
    padding: calc(var(--margin-padding-8)*4) calc(var(--margin-padding-8)*5);
}

.list-page-body.qna .page-title .title-select {
    display: flex;
    width: 100%;
}

.list-page-body.qna .page-title .title-select select,
.list-page-body.qna .page-title input[type='text'] {
    width: 100%;
    min-width: unset;
}

.list-page-body.qna .page-title .title-select div:nth-child(1) {
    padding-right: 8px;
    width: 20%;
}

.list-page-body.qna .page-title .title-select div:nth-child(2) {
    width: 80%;
}

.page-file-list.qna {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}
.page-file-list.qna .page-file-list-wrap{
    width: 100%;
}
.page-file-list.qna .page-file-list-wrap > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    gap: 16px;
}

.page-file-list.qna .page-file-list-wrap .file-list-label {
    margin-bottom: 10px;
}
.page-file-list.qna .page-file-list-wrap .file-list-label .grayTxt{
    margin: 0;
}
.page-file-list.qna .page-file-list-wrap label {
    width: 100px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--sub-color1);
    color: var(--sub-color1);
    background-color: #fff;
    transition: background-color 0.1s, color 0.1s;
    font-size: 14px;
    box-shadow: none;
}
.page-file-list.qna .page-file-list-wrap label img {
   margin-right: 2px;
}
/* .page-file-list.qna .page-file-list-wrap span.grayTxt {
    padding-left: 16px;
} */

.page-file-list.qna .page-file-list-wrap input {
    display: none;
}


.page-file-list.qna .page-file-list-wrap .file-add,
.page-file-list.qna .page-file-list-wrap .file-add p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:6px;
}
.page-file-list.qna .page-file-list-wrap .file-add {
    padding:14px 20px;
    background-color: var(--gray5);
    flex-wrap: wrap;
} 
.page-file-list.qna .page-file-list-wrap .file-add p {
    padding: 6px 14px;
    border-radius: 30px;
    background-color: #fff;
    border:1px solid var(--gray4);
}

.page-file-list.qna .page-file-list-wrap .file-add p img{
    width: 14px;
    transform: translateY(-1px);
}
/* .page-file-list.qna .page-file-list-wrap>div {
    padding-left: 0;
} */

/* .page-file-list.qna .page-file-list-wrap button {
    margin: 0;
} */

@media screen and (max-width:1280px) {
    .s-contents {
        padding: 35px 7%;
    }

    .list-page-body .page-title {
        padding: calc(var(--margin-padding-8)*5) 5%;
    }



    /* Q&A 보기 */
    .prev-next-box div {
        margin: 0 8px;
    }

    /* Q&A 글쓰기 */
    /* .page-file-list.qna .page-file-list-wrap .file-add {
        display: flex;
        flex-direction: column;
    } */

    .page-file-list.qna .page-file-list-wrap .file-add span.grayTxt {
        order: -1;
        padding-left: 0;
    }

}

/* 랩탑 */
@media screen and (max-width:1030px) {
    .s-contents {
        padding: 25px 5%;
    }

}

/* 태블릿&모바일 */
@media screen and (max-width:768px) {
    .s-contents {
        padding: 15px 0px;
        border: none;
        /* border-top: 10px solid var(--gray5); */
        box-shadow: none;
    }
    .list-page-body{
        margin: 0 0 30px;
    }
    .list-page-body .page-title {
        padding: calc(var(--margin-padding-8)*4) 3%;
        font-size: 20px;
    }
    .list-page-body .page-contents{
        padding: 40px 0;
    }
    .list-page-body .page-info {
        padding: 0;
    }

    .list-page-body.qna .page-title {
        padding: calc(var(--margin-padding-8)*4) 5%;
    }

    .list-page-body .page-file-list,
    .list-page-body .page-info>div {
        padding: 20px 0;
    }


    .list-page-body .page-info {
        flex-direction: column;
    }

    .list-page-body .page-info>.share-con {
        border-top: 1px solid var(--gray4);
        padding: 18px 0 ;
        text-align: left;
    }

    /* Q&A 보기 */
    .s-contents.list-page-wrapper{
        margin-bottom: 0;
    }
    .prev-next-box {
        padding: calc(var(--margin-padding-8)*2) 5%;

    }

    .prev-next-box a.next {
        justify-content: flex-end;
    }

    .prev-next-box span.nab-label {
        width: 80%;
    }

    .prev-next-box span.target-title {
        display: none;
    }


    /* Q&A 글쓰기 */
    .list-page-body.qna .page-title .title-select {
        flex-direction: column;
        width: 100%;
    }

    .list-page-body.qna .page-title .title-select div:nth-child(1),
    .list-page-body.qna .page-title .title-select div:nth-child(2) {
        width: 100%;
        padding: 0;
    }

    .list-page-body.qna .page-title .title-select div:nth-child(1) {
        margin-bottom: 8px;
    }

    .page-file-list.qna .page-file-list-wrap {
        flex-direction: column;
    }

    .page-file-list.qna .page-file-list-wrap .file-add {
        width: 100%;
    }

    .page-file-list.qna .page-file-list-wrap .file-add label {
        width: 100%;
    }
}