<!DOCTYPE html>
<html lang="ko" class="opmanager" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Batch Job - 고향사랑e음 (admin service)</title>
    <th:block th:replace="~{fragments/opmanager-head :: headContent}"></th:block>
    <style type="text/css">
        .board_list_table th {
            text-align: center;
        }
    </style>
</head>
<!-- AS-IS opmanager/i18n/batch-job/form.jsp 이식. layout="base" 팝업(1250x310)이고, 등록/수정
     버튼은 batchJobId 유무에 따라 JS가 붙인다. 저장은 ajax로 /batch-job/create|update 호출 후
     부모 목록과 자기 자신을 새로 고친다(AS-IS와 동일). -->
<body>
<div class="popup_wrap">
    <h1 class="popup_title">Batch Job</h1> <!-- Batch Job -->
    <div class="popup_contents">
        <form id="listForm" method="post">
            <input type="hidden" id="batchJobId" name="batchJobId" th:value="${batchJob.batchJobId}" />
            <div class="board_write">
                <h3><span>Batch Job</span></h3>
                <table class="board_list_table" summary="Batch Job"> <!-- Batch Job -->
                    <caption>Batch Job</caption>
                    <colgroup>
                        <col style="width:30%;" />
                        <col style="width:30%;" />
                        <col style="width:10%;" />
                        <col style="width:15%;" />
                        <col style="width:15%;" />
                        <col style="width:10%;" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">작업명</th> 		 	 <!-- 작업명 -->
                        <th scope="col">작업실행 메서드명</th> <!-- 작업실행 메서드명 -->
                        <th scope="col">트리거 종류<br>(1:심플, 2:크론)</th>  <!-- 트리거 종류 -->
                        <th scope="col">반복 시간</th> 	 <!-- 반복 시간 -->
                        <th scope="col">반복 표현식</th> 	 <!-- 반복 표현식 -->
                        <th scope="col">배치 상태<br>(1:실행중, 2:정지)</th>  <!-- 배치 상태 -->
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" id="jobName" name="jobName" class="required" title="" maxlength="100" style="width:250px;" th:value="${batchJob.jobName}"/>
                            </td>
                            <td>
                                <input type="text" id="jobMethod" name="jobMethod" class="required" title="" maxlength="100" style="width:300px;" th:value="${batchJob.jobMethod}"/>
                            </td>
                            <td>
                                <select id="triggerType" name="triggerType" class="input-txt" style="width:50px;">
                                    <option value="1" th:selected="${batchJob.triggerType == null or batchJob.triggerType == '1'}">1</option>
                                    <option value="2" th:selected="${batchJob.triggerType == '2'}">2</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" id="triggerRepeatSeconds" name="triggerRepeatSeconds" class="required" title="" maxlength="100" style="width:200px;" th:value="${batchJob.triggerRepeatSeconds}"/>
                            </td>
                            <td>
                                <input type="text" id="triggerCronExpression" name="triggerCronExpression" class="required" title="" maxlength="100" style="width:200px;" th:value="${batchJob.triggerCronExpression}"/>
                            </td>
                            <td>
                                <select id="batchStatus" name="batchStatus" class="input-txt" style="width:50px;">
                                    <option value="1" th:selected="${batchJob.batchStatus == null or batchJob.batchStatus == '1'}">1</option>
                                    <option value="2" th:selected="${batchJob.batchStatus == '2'}">2</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!--// board_write E-->

            <div class="btn_all">
                <div class="btn_right mb0">

                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var $form = $('#listForm');

    $(document).ready(function() {

        $($form).validator(function() {

        });

        var $btn_right = $('.btn_right');

        if ($('#batchJobId').val()) {
            $btn_right.append('<button type="button" id="update_list_data" onclick="updateData()" class="btn btn-default btn-sm">수정</button>');
        } else {
            $btn_right.append('<button type="button" id="update_list_data" onclick="createData()" class="btn btn-default btn-sm">등록</button>');
        }


    });

    // 목록데이터 - 수정처리
    function updateData() {
        if (!textValidation()) {
            return;
        }

        if (!confirm("선택된 데이터를 전송하시겠습니까?")) {
            $form.find('table input, table select').prop('disabled', false);
            return;
        }

        $.post("/batch-job/update", $form.serialize(), function(response) {
            Common.responseHandler(response, function(response){
                opener.location.reload();
                location.reload();
            });
        });

    }


    function createData() {
        if (!textValidation()) {
            return;
        }

        if (!confirm("선택된 데이터를 등록하시겠습니까?")) {
            $form.find('table input, table select').prop('disabled', false);
            return;
        }

        $.post("/batch-job/create", $form.serialize(), function(response) {
            Common.responseHandler(response, function(response){
                opener.location.reload();
                location.reload();
            });
        });

    }

    function textValidation() {
        var jobName 			= $('input[name=jobName]').val();
        var jobMethod 			= $('input[name=jobMethod]').val();
        // AS-IS는 트리거종류/배치상태도 input[name=...]으로 읽는데 실제 엘리먼트는 select라
        // 항상 undefined가 되어 해당 검사가 통과된다 - AS-IS 동작을 그대로 둔다.
        var triggerType 		= $('input[name=triggerType]').val();
        var triggerRepeatSeconds = $('input[name=triggerRepeatSeconds]').val();
        var triggerCronExpression = $('input[name=triggerCronExpression]').val();
        var batchStatus 	= $('input[name=batchStatus]').val();

        var booleanVal = true;

        if (jobName == '') {
            alert("작업명을 입력하세요");
            booleanVal = false;
        } else if(jobMethod == ''){
            alert("메서드명을 입력하세요");
            booleanVal = false;
        } else if(triggerType == ''){
            alert("트리거 종류를 입력하세요. 예) 심플:1, 크론:2");
            booleanVal = false;
        } else if(triggerRepeatSeconds == '' && triggerCronExpression == ''){
            alert("반복 시간 또는 표현식을 입력하세요");
            booleanVal = false;
        } else if(batchStatus == ''){
            alert("배치 상태를 입력하세요. 예) 실행중:1, 정지:2");
            booleanVal = false;
        }

        return booleanVal;
    }


</script>
</body>
</html>
