<!DOCTYPE html>
<html lang="ko" class="opmanager" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>다운로드 사유 - 고향사랑e음 (admin service)</title>
    <th:block th:replace="~{fragments/opmanager-head :: headContent}"></th:block>
</head>
<!-- AS-IS 엑셀다운로드 사유 전문 팝업(layout=base) - 목록의 사유가 50자로 잘려 보이므로 전문을 띄운다. -->
<body>
<div class="popup_wrap">
    <h1 class="popup_title">다운로드 사유</h1>
    <div class="popup_contents">
        <div class="board_write">
            <table class="board_write_table">
                <colgroup>
                    <col style="width: 165px;" />
                    <col />
                </colgroup>
                <tbody>
                    <tr>
                        <td class="label">사유타입</td>
                        <td><div th:text="${details != null} ? ${details.reasonTypeName} : ''"></div></td>
                    </tr>
                    <tr>
                        <td class="label">사유</td>
                        <td><div th:text="${details != null} ? ${details.reason} : ''"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a href="javascript:self.close();" class="popup_close" th:text="${msg.get('M00353')}">창 닫기</a>
</div>
</body>
</html>
