<!DOCTYPE html>
<html lang="ko" class="opmanager" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>이메일 설정 - 고향사랑e음 (admin service)</title>
    <th:block th:replace="~{fragments/opmanager-head :: headContent}"></th:block>
</head>
<body>
<div th:replace="~{fragments/admin-nav :: header()}"></div>

<!-- AS-IS opmanager/i18n/mail-config/form.jsp 이식. 상단 ul.mail_list로 템플릿 10종을 전환하고
     (현재 템플릿은 빨간색), 메일 대체코드는 500x500 팝업으로 띄운다. 발송여부(buyerSendFlag)
     라디오 + Web-Mail 제목/내용(스마트에디터)이고, 관리자 수신(adminSendFlag)은 AS-IS처럼
     hidden 'N'으로만 넘긴다. 하단 Tip 문구도 AS-IS 그대로다. -->
<div class="admin_wrap">
<div id="container">
    <div th:replace="~{fragments/admin-nav :: lnb()}"></div>
    <div class="contents">
    <div class="contents_inner">
        <div th:replace="~{fragments/admin-nav :: breadcrumb()}"></div>

	<h3><span><span th:text="${title}"></span> <span th:text="${msg.get('M00392')}">이메일 설정 등록/수정</span></span></h3>

	<ul class="mail_list">
		<li th:each="entry : ${mailTemplateCodeList}">
			<a th:href="@{'/mail-config/edit/' + ${entry.key}}"
			   th:style="${mailConfig.templateId == entry.key} ? 'color:red;' : null"
			   th:text="${entry.value}"></a></li>
	</ul> <!-- // mail_list -->
	<br/>
	<span class="mail_code" >
		<a th:href="@{'/mail-config/change-code/' + ${mailConfig.templateId}}" class="btn_right btn gray02"
		   onclick="Common.popup(this.href, 'orderView', 500, 500, 1); return false;" title="새창"
		   th:text="${msg.get('M00393')}">메일 대체코드</a>
	</span>
	<br/><br/>
	<form id="mailConfig" method="post" enctype="multipart/form-data"
	      th:action="@{'/mail-config/edit/' + ${mailConfig.templateId}}">
		<input type="hidden" name="templateId" th:value="${mailConfig.templateId}" />
		<input type="hidden" name="mailConfigId" th:value="${mailConfig.mailConfigId}" />
		<input type="hidden" name="adminSendFlag" class="required _filter" value="N" />
		<input type="hidden" name="title" th:value="${title}" />
		<div class="email_tb">

			<table class="board_write_table">
				<colgroup>
					<col style="width: 150px;" />
				</colgroup>
				<tr>
					<td class="label">발송여부</td>
					<td>
                        <div class="flex_box gap-12">
                            <div class="input-form">
                                <input type="radio" name="buyerSendFlag" value="Y" class="required _filter" id="rdo2-1"
                                       th:checked="${mailConfig.buyerSendFlag == null or mailConfig.buyerSendFlag == 'Y'}"/>
                                <label for="rdo2-1" th:text="${msg.get('M00397')}">발송</label>
                            </div>
                            <div class="input-form">
                                <input type="radio" name="buyerSendFlag" value="N" class="required _filter" id="rdo2-2"
                                       th:checked="${mailConfig.buyerSendFlag == 'N'}"/>
                                <label for="rdo2-2" th:text="${msg.get('M00398')}">미발송</label>
                            </div>
                        </div>
					</td>
				</tr>
			</table>

			<h3 class="title"><span>Web-Mail</span></h3>
			<div class="board_write">

				<table class="board_write_table">
					<colgroup>
						<col style="width: 120px;" />
						<col />
					</colgroup>
					<tr>
						<td class="label" th:text="${msg.get('M00370')}">메일 제목</td> <!-- 메일 제목 -->
						<td>
							<div><input type="text" id="buyerSubject" name="buyerSubject" class="full w65 mr10 required _filter"
							            th:value="${mailConfig.buyerSubject}" th:title="${msg.get('M00370')}"/></div>
						</td>
					</tr>
					<tr>
						<td class="label" th:text="${msg.get('M00400')}">메일 내용</td> <!-- 메일 내용 -->
						<td>
							<div>
								<textarea id="buyerContent" name="buyerContent" cols="30" rows="40" class="editor-content"
								          th:title="${msg.get('M00400')}" th:text="${mailConfig.buyerContent}"></textarea>
							</div>
						</td>
					</tr>
				</table>
			</div> <!-- // board_write -->

		</div> <!-- //  email_tb -->

        <div class="btn_all btn_center">
            <div class="flex_box gap-08">
                <button type="submit" class="btn btn-active btn-small" th:text="${msg.get('M00101')}">저장</button> <!-- 저장 -->
            </div>
        </div>
	</form>
	<div class="board_guide">
		<p class="tip">Tip</p>
		<p class="tip">- 『 {}<span th:text="${msg.get('M00402')}"></span></p>
			<p class="tip">- 『 {}<span th:text="${msg.get('M00403')}"></span></p>
	</div>
    </div><!-- /.contents_inner -->
    </div><!-- /.contents -->
</div><!-- /#container -->
</div><!-- /.admin_wrap -->

<div th:replace="~{fragments/smarteditor :: init}"></div>
<div th:replace="~{fragments/smarteditor :: editor('buyerContent')}"></div>

	<script type="text/javascript">
		$(function(){

			$("#mailConfig").validator({
				'requiredClass' : 'required',
				'submitHandler' : function() {
					Common.getEditorContent("buyerContent");
				}
			});

			$('textarea, input[type=text]').on('focus', function(){
				setNyField(this);
			});
		});

		var myField = null;
		function setNyField(obj) {
			myField = obj;
		}

		function insertAtCursor(myValue) {

			// 고객 요청사항으로 해당 기능 동작 안하게 막음. [cjh] 2014.09.25
			return;

			if (myField == undefined) {
				setNyField(document.getElementById("buyerContent"));
			}

			if (document.selection) {  //IE support
			   myField.focus();
			   sel = document.selection.createRange();
			   sel.text = myValue;
			} else if ((myField.selectionStart)||(myField.selectionStart == 0)) { // Chrome, Firefox, Netscape support
			   var startPos = myField.selectionStart;
			   var endPos = myField.selectionEnd;
			   myField.value = myField.value.substring(0, startPos)
			                       + myValue
			                       + myField.value.substring(endPos, myField.value.length);
			} else {
			   myField.value += myValue;
			}
		}
	</script>
<div th:replace="~{fragments/footer :: admin-footer}"></div>
</body>
</html>
