<!DOCTYPE html>
<html lang="ko" class="opmanager" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/opmanager-head :: headContent}"></th:block>
    <meta charset="UTF-8">
    <title>스타일북 관리 - 고향사랑e음 (admin service)</title>
    <link rel="stylesheet" type="text/css" th:href="@{/content/opmanager/css/ui-lightness/jquery-ui-1.10.3.custom.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/content/opmanager/css/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/content/opmanager/css/opmanager.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/content/opmanager/css/opmanager_print.css}" media="print">
</head>
<body>
<div th:replace="~{fragments/admin-nav :: header()}"></div>

<div class="admin_wrap">
<div id="container">
    <div th:replace="~{fragments/admin-nav :: lnb()}"></div>
    <div class="contents">
    <div class="contents_inner">
        <div th:replace="~{fragments/admin-nav :: breadcrumb()}"></div>
    <h3>스타일북 관리</h3>
    <p style="color:#666; margin-bottom:16px;">답례품을 주제별로 묶어 소개하는 콘텐츠 큐레이션입니다.</p>
    <p><a class="btn" th:href="@{/admin/style-books/new}">+ 스타일북 등록</a></p>

    <table class="board_list_table">
        <thead><tr><th>순서</th><th>제목</th><th>이미지</th></tr></thead>
        <tbody>
        <tr th:each="s : ${styleBooks}">
            <td th:text="${s.ordering}"></td>
            <td><a th:href="@{'/admin/style-books/' + ${s.id} + '/edit'}" th:text="${s.title}"></a></td>
            <td><img th:if="${s.image}" th:src="${s.image}" style="height:40px;"></td>
        </tr>
        </tbody>
    </table>
    <p class="empty" th:if="${#lists.isEmpty(styleBooks)}">등록된 스타일북이 없습니다.</p>
    </div><!-- /.contents_inner -->
    </div><!-- /.contents -->
</div><!-- /#container -->
</div><!-- /.admin_wrap -->
<div th:replace="~{fragments/footer :: admin-footer}"></div>
</body>
</html>
