<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>준비중 - 고향사랑e음</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/new.css}">
    <link rel="stylesheet" th:href="@{/css/site.css}">
</head>
<body>
<div th:replace="~{fragments/header :: site-header}"></div>
<div class="inner" style="margin:8rem auto; text-align:center;">
    <h1 style="border:none; font: var(--pc-font-h2);">🚧 준비중입니다</h1>
    <p style="color:var(--color-gray-light); font: var(--pc-font-medium); margin-top:.8rem;">AS-IS에는 있지만 이 MVP 범위에는 아직 포함되지 않은 화면입니다.</p>
    <a style="display:inline-block; margin-top:1.6rem; padding:1rem 2.4rem; border-radius: var(--border-radius-half); background: var(--color-primary); color:#fff; text-decoration:none;" th:href="@{/}">메인으로 돌아가기</a>
</div>
<div th:replace="~{fragments/floating-buttons :: floating-buttons}"></div>
<div th:replace="~{fragments/footer :: site-footer}"></div>
</body>
</html>
