<!DOCTYPE html>
<html lang="ko" class="opmanager" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>임시 비밀번호 발급 - 고향사랑e음 (admin service)</title>
    <th:block th:replace="~{fragments/opmanager-head :: headContent}"></th:block>
</head>
<!-- AS-IS opmanager/i18n/user/popup/charger-password-init.jsp 이식. layout=base 팝업(500x320).
     오프라인담당자 상세(메뉴 4601)의 "비밀번호 초기화 및 신규 비밀번호 발급" 버튼이 띄운다.

     AS-IS verbatim(그대로 둔 것):
     - 팝업을 여는 것만으로 비밀번호가 이미 초기화된다(GET 요청이 발급까지 수행한다).
     - table에 class가 두 번 붙어 있고 summary/caption이 "메인 배너관리"다(복사 흔적).
     - 발급 불가(권한 미달 또는 대상이 오프라인담당자가 아님)면 빈 값이 내려오고,
       "임시 비밀번호 발급이 불가능합니다." alert 후 팝업이 스스로 닫힌다. -->
<body>
<div class="popup_wrap">
	<div id="pop_header">
		<h1 class="popup_title">임시 비밀번호 발급</h1>
		<a href="javascript:self.close();" class="btn_close"><img th:src="@{/content/opmanager/images/btn/btn_close.png}" alt="닫기"></a>
	</div>

	<div class="popup_contents">
		<p class="txt mb30 txt_center">해당 관리자의 임시 비밀번호가 발급 되었습니다.</p>
		<div class="board_list">
			<table class="board_list_table" summary="메인 배너관리">
				<caption>메인 배너관리</caption>
				<colgroup>
					<col style="width:100%;">
				</colgroup>
				<thead>
					<tr>
						<th scope="col">임시 비밀번호</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background:#fff;">
						<td th:text="${password}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p class="popup_btns">
			<button type="submit" class="btn btn-active" onclick="self.close();">확인</button>
		</p>
	</div>
</div>

<script type="text/javascript" th:inline="javascript">
	$(function() {
		if([[${password}]] == "") {
			alert("임시 비밀번호 발급이 불가능합니다.");
			self.close();
		}
	});
</script>
</body>
</html>
