<!DOCTYPE html>
<html lang="ko" class="opmanager" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>공통코드 관리 - 고향사랑e음 (admin service)</title>
    <th:block th:replace="~{fragments/opmanager-head :: headContent}"></th:block>
    <style>
        #dvCodeType li:hover,#dvCodeType li:focus {color:#000000;background-color:lightsteelblue;}
    </style>
</head>
<body>
<div th:replace="~{fragments/admin-nav :: header()}"></div>

<!-- AS-IS opmanager/i18n/code/list.jsp 이식. 왼쪽 CODE-TYPE 패널(필터입력 + total + 뱃지 건수) +
     오른쪽 검색(코드값/코드라벨 LIKE) · 11컬럼 목록 · 신규등록/수정/삭제 · 페이지네이션.
     등록·수정은 AS-IS처럼 Common.popup으로 /codes/create · /codes/edit 팝업을 띄운다. -->
<div class="admin_wrap">
<div id="container">
    <div th:replace="~{fragments/admin-nav :: lnb()}"></div>
    <div class="contents">
    <div class="contents_inner">
        <div th:replace="~{fragments/admin-nav :: breadcrumb()}"></div>

        <!-- 상단타이틀 -------------------------------------------------------------------- -->
        <h3><span th:text="${msg.get('MENU_1401')}">공통코드 관리</span></h3> <!-- 공통코드관리 -->
        <div class="board_write">
            <table class="board_write_table" th:summary="${msg.get('MENU_1401')}"> <!-- 공통코드관리 -->
                <caption th:text="${msg.get('MENU_1401')}">공통코드 관리</caption>
                <colgroup>
                    <col style="width:100%;" />
                </colgroup>
                <tbody>
                     <tr>
                        <td></td>
                     </tr>
                </tbody>
            </table>
        </div>
        <!-- 상단타이틀 -------------------------------------------------------------------- -->

        <div class="container-fluid">

          <div class="row">
            <!-- (왼쪽) CODE-TYPE 코드구분  ----------------------------------------------------- -->
            <div class="col-sm-3" style="height:100%;border 1px;" id="dvCodeType" name="dvCodeType">
                <form id="listForm" style="height:100%;">
                    <div style="height:600px;margin:0px 0px 5px 0px;">
                        <div style="text-align:right;background-color:#f8f8f8;padding:10px;">
                          <input id="SimpleSearch" type="text" placeholder="CodeType Filter.." style="width:100%;">
                          <i><font >total: <span th:text="${codeTypeCount}">0</span></font></i>
                        </div>

                        <ul class="list-group" id="simpleSearchList" style="height:600px;margin:30px 0px;overflow:auto">
                            <li class="list-group-item" th:each="entry : ${codeTypeList}"
                                th:attr="onclick=|fnCodeSearch('${entry.key}');|"
                                th:style="${codeParam.codeType == entry.key} ? 'background-color:#C4DEFF;' : null">
                                <span th:text="${entry.key}">CODE_TYPE</span> <span class="badge" th:text="${entry.value}">0</span></li>
                        </ul>
                    </div>
                </form>
            <!-- (왼쪽) CODE-TYPE 코드구분  ----------------------------------------------------- -->
            </div>

            <!-- 코드 데이터  -->
            <div class="col-sm-9">
            <!-- (오른쪽) CODE-TYPE 코드구분  ----------------------------------------------------- -->

            <!-- 조회 부 -------------------------------------------------------------------- -->
            <form id="codeParam" th:action="@{/codes}" method="post" enctype="multipart/form-data">
                <table class="board_write_table" th:summary="${msg.get('M01676')}"> <!-- 공통코드 -->
                    <colgroup>
                        <col style="width:220px;" />
                        <col style="width:*;" />
                    </colgroup>
                    <tbody>
                         <tr>
                            <td class="label" th:text="${msg.get('M00011')}">검색구분</td> <!-- 검색구분 -->
                            <td>
                                <div>
                                    <select id="where" name="where" th:title="${msg.get('M00468')}"> <!-- 키워드 선택 -->
                                        <option value="ID" th:text="${msg.get('M01675')}" th:selected="${codeParam.where == 'ID'}">코드값</option> <!-- 코드값 -->
                                        <option value="LABEL" th:text="${msg.get('M01674')}" th:selected="${codeParam.where == 'LABEL'}">코드라벨</option> <!-- 코드라벨 -->
                                    </select>
                                    <input type="text" id="query" name="query" class="three" th:value="${codeParam.query}" th:title="${msg.get('M00021')}" placeholder="Search.."/> <!-- 검색어 입력 -->
                                    <input type="hidden" name="codeType" id="codeType" th:value="${codeParam.codeType}" />
                                </div>
                            </td>
                         </tr>
                    </tbody>
                </table>

                <!-- 버튼시작 -->
                <div class="btn_all">
                    <div class="btn_right">
                        <div class="flex_box gap-08">
                            <button type="button" class="btn btn-dark-gray btn-sm" onclick="location.href='/codes';"><span class="glyphicon glyphicon-repeat"></span> <span th:text="${msg.get('M00047')}">초기화</span></button> <!-- 초기화 -->
                            <button type="submit" class="btn btn-dark-gray btn-sm"><span class="glyphicon glyphicon-search"></span> <span th:text="${msg.get('M00048')}">검색</span></button> <!-- 검색 -->
                        </div>
                    </div>
                </div>
                <!-- 버튼 끝-->

                <div class="count_title mt20">
                    <h5>
                        <span th:text="${msg.get('M00039')}" th:remove="tag">전체</span> : <span th:text="${pagination.totalItems}" th:remove="tag">0</span> <span th:text="${msg.get('M00743')}" th:remove="tag">건 조회</span>
                    </h5>    <!-- 전체 -->   <!-- 건 조회 -->
                </div>

            </form>
            <!-- 조회 부 -------------------------------------------------------------------- -->


                <form id="listForm2">
                    <div class="board_write">
                        <table class="board_list_table" th:summary="${msg.get('M01676')}"> <!-- 공통코드 -->
                            <caption th:text="${msg.get('M01676')}">공통코드</caption>
                            <colgroup>
                                <col style="" />
                                <col style="" />
                                <col style="" />
                                <col style="" />
                                <col style="" />
                                <col style="" />
                                <col style="" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col" th:text="${msg.get('M01680')}">코드구분</th> <!-- 코드구분 -->
                                    <th scope="col" th:text="${msg.get('M01374')}">코드</th> <!-- 코드 -->
                                    <th scope="col" th:text="${msg.get('M01674')}">코드라벨</th> <!-- 코드라벨 -->
                                    <th scope="col" th:text="${msg.get('M01677')}">코드상세</th> <!-- 코드상세 -->
                                    <th scope="col" th:text="${msg.get('M01678')}">정렬순서</th> <!-- 정렬순서 -->
                                    <th scope="col" th:text="${msg.get('M00082')}">사용여부</th> <!-- 사용여부 -->

                                    <th scope="col" th:text="${msg.get('M01682')}">상위ID</th> <!-- 상위id -->
                                    <th scope="col" th:text="${msg.get('M01675')}">코드값</th> <!-- 코드값 -->
                                    <th scope="col" th:text="${msg.get('M01684')}">확장코드</th> <!-- 확장코드 -->
                                    <th scope="col" th:text="${msg.get('M01685')}">매핑코드</th> <!-- 매핑코드 -->

                                    <th scope="col">-</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="list : ${codeList}">
                                    <td th:text="${list.codeType}"></td>
                                    <td style="text-align:left;" th:text="${list.id}"></td>
                                    <td style="text-align:left;" th:text="${list.label}"></td>
                                    <td th:text="${list.detail}"></td>
                                    <td th:text="${list.ordering}"></td>
                                    <td th:text="${list.useYn}"></td>
                                    <td style="text-align:left;" th:text="${list.upId}"></td>
                                    <td style="text-align:left;" th:text="${list.codeValue}"></td>
                                    <td style="text-align:left;" th:text="${list.extensionCode}"></td>
                                    <td style="text-align:left;" th:text="${list.mappingCode}"></td>
                                    <td>
                                        <div class="flex_box juc-center gap-08">
                                            <a th:href="|javascript:fnUpdateCode('${list.codeType}','${list.id}')|" class="btn btn-gradient btn-xs" th:text="${msg.get('M00087')}">수정</a> <!-- 수정 -->
                                            <a th:href="|javascript:fnDeleteCode('${list.codeType}','${list.id}')|" class="delete_item btn btn-gradient btn-xs" th:text="${msg.get('M00074')}">삭제</a> <!-- 삭제 -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!--// board_write E-->

                    <div class="no_content" th:if="${#lists.isEmpty(codeList)}" th:text="${msg.get('M00473')}">
                        데이터가 없습니다.
                    </div>

                    <div class="btn_all btn_right">
                        <div class="flex_box">
                            <a href="javascript:fnCodeAdd();" class="btn btn-active btn-sm"><span class="glyphicon glyphicon-plus"></span> <span th:text="${msg.get('M00088')}">신규등록</span></a> <!-- 신규등록 -->
                        </div>
                    </div>

                    <div class="pagination-wrap">
                        <div th:replace="~{fragments/pagination :: manager(${pagination})}"></div>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div><!-- /.contents_inner -->
    </div><!-- /.contents -->
</div><!-- /#container -->
</div><!-- /.admin_wrap -->

<script type="text/javascript">

    $(document).ready(function(){
      $("#SimpleSearch").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#simpleSearchList li").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    //Code 추가
    function fnCodeAdd(){
        Common.popup('/codes/create?whereCodeType=' + $("#codeType").val(), 'createCode', 800, 500, 1);
    }
    function fnUpdateCode(codeType, id) {
        Common.popup('/codes/edit?whereCodeType=' + encodeURIComponent(codeType) + "&whereId=" + encodeURIComponent(id), 'editCode', 800, 500, 1);
    }

    //CodeType 선택시 조회
    function fnCodeSearch(pCodeType){
        $('#codeType').val(pCodeType);
        $('#codeParam').submit();
    }

    function fnSearch() {
        fnCodeSearch($('#codeType').val());
    }
    function fnDeleteCode(codeType, id) {
        Common.confirm(Message.get("M00196"), function() {
            $.post("/codes/delete", {"codeType" : codeType, "id" : id}, function(response) {
                Common.responseHandler(response, function() {
                    alert(Message.get("M00205"));
                    fnSearch();
                });
            });
        });
    }
</script>
<div th:replace="~{fragments/footer :: admin-footer}"></div>
</body>
</html>
